@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Tout les utilisateurs</h1>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>

            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Option</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var role in Model)
            {
        <tr>

            <td>@role.UserName</td>
            <td>@role.Email</td>
            <td>

                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Etes-vous sûr que vous voulez supprimer?</span>
                        <button type="submit" class="btn btn-danger">Oui</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">Non</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
                </form>

            </td>
        </tr>
            }

        }
        else
        {
            <tr>
                <th scope="row">Aucun role existe</th>
                <td>Cliquer sur le button ajouter pour ajouter un nouveau role</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button> \\
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>

